    @model PagedList.IPagedList<Aultcare.Models.Actor>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Admin Actors";
    }

    <style type="text/css">
        th, td 
        {
            width: 33%;
        }

        .table 
        {
            width: 66%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>


    <h2>Admin Actors</h2>

    <h3>Number of Actors: @Model.TotalItemCount</h3>
    <br />

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @using (Html.BeginForm("AdminIndex", "Actor", FormMethod.Get))
    {
        <p>
            Find: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Actor ID", "AdminIndex", new { sortOrder = ViewBag.ActorIDSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Actor Name", "AdminIndex", new { sortOrder = ViewBag.ActorNameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ActorName)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ActorID }) |
                    @Html.ActionLink("Details", "AdminDetails", new { id = item.ActorID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ActorID })
                </td>
            </tr>
        }

    </table>

    <br />

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("AdminIndex", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))